
.hero{
    padding: 0px 0px;
    padding-top: 50px;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 100px;
}

.hero-left{
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    color: #090909;
    font-size: clamp(20px, 5vw, 26px);;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: clamp(30px, 8vw, 70px);
    font-weight: 700;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img{
    width:  105px;
}

.hero-latest-btn{
    background: #ff4141;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 60px;
    border-radius: 75px;
    margin-top: 30px;
    color: white;
    font-size: 22px;
    font-size: clamp(15px,3vw,22px);
    font-weight: 500;
    cursor: pointer;
}

@media all and (max-width:768px){
    .hero-latest-btn{
        width: auto;
    }
}

.hero-right{
    flex: 1;
    background: url('../Assets/hero_image.png') center center / contain no-repeat;
}

