
.hero{
    padding: 0px 0px;
    padding-top: 50px;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 100px;
}

.hero-left{
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    color: #090909;
    font-size: clamp(20px, 5vw, 26px);;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: clamp(30px, 8vw, 70px);
    font-weight: 700;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img{
    width:  105px;
}

.hero-latest-btn{
    background: #ff4141;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 60px;
    border-radius: 75px;
    margin-top: 30px;
    color: white;
    font-size: 22px;
    font-size: clamp(15px,3vw,22px);
    font-weight: 500;
    cursor: pointer;
}

.hero-right{
    flex: 1;
    background: url('../Assets/hero_image.png') center center / contain no-repeat;
}

@media all and (max-width:1280px){
    .hero-left{
        padding-left: 100px;
    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-hand-icon img{
        width: 80px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
}

@media all and (max-width:1024px){
    .hero-left{
        padding-left: 80px;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 48px;
    }
    .hero-hand-icon img{
        width: 63px;
    }
    .hero-latest-btn{
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
}

@media all and (max-width:800px){
    .hero{
        margin-top: 70px;
    }
    .hero-left{
        padding-left: 30px;
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-hand-icon img{
        width: 49px;
    }
    .hero-latest-btn{
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
}

@media all and (max-width:500px){
    .hero{
        flex-direction: column;
        align-items: center;
    }
    .hero-right{
        display: none;
        border: 1px solid orange;
    }
    .hero-left h2{
        font-size: 18px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-hand-icon img{
        width: 55px;
    }
    .hero-latest-btn{
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
}
